@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?36873118');
  src: url('../font/fontello.eot?36873118#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?36873118') format('woff'),
       url('../font/fontello.ttf?36873118') format('truetype'),
       url('../font/fontello.svg?36873118#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?36873118#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-hourglass-1:before { content: '\e832'; } /* '' */
.icon-hourglass:before { content: '\e82e'; } /* '' */
.icon-right-dir:before { content: '\e82d'; } /* '' */
.icon-mail-1:before { content: '\e821'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e820'; } /* '' */
.icon-down-circle:before { content: '\e823'; } /* '' */
.icon-article:before { content: '\e824'; } /* '' */
.icon-down-open-big:before { content: '\e81c'; } /* '' */
.icon-up-open-big:before { content: '\e82c'; } /* '' */
.icon-down-micro:before { content: '\e827'; } /* '' */
.icon-up-micro:before { content: '\e81f'; } /* '' */
.icon-menu:before { content: '\e814'; } /* '' */
.icon-instagram:before { content: '\e826'; } /* '' */
.icon-instagram-circled:before { content: '\e825'; } /* '' */
.icon-quote-right:before { content: '\e80a'; } /* '' */
.icon-github:before { content: '\e81d'; } /* '' */
.icon-github-circled:before { content: '\e828'; } /* '' */
.icon-flickr:before { content: '\e81b'; } /* '' */
.icon-flickr-circled:before { content: '\e81a'; } /* '' */
.icon-vimeo:before { content: '\e802'; } /* '' */
.icon-vimeo-circled:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-twitter-circled:before { content: '\e80b'; } /* '' */
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-facebook-circled:before { content: '\e80c'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-gplus-circled:before { content: '\e80d'; } /* '' */
.icon-pinterest:before { content: '\e803'; } /* '' */
.icon-pinterest-circled:before { content: '\e807'; } /* '' */
.icon-linkedin:before { content: '\e806'; } /* '' */
.icon-linkedin-circled:before { content: '\e808'; } /* '' */
.icon-dribbble:before { content: '\e805'; } /* '' */
.icon-dribbble-circled:before { content: '\e80e'; } /* '' */
.icon-picture:before { content: '\e829'; } /* '' */
.icon-graduation-cap:before { content: '\e812'; } /* '' */
.icon-video-1:before { content: '\e82b'; } /* '' */
.icon-video:before { content: '\e82a'; } /* '' */
.icon-trophy:before { content: '\e818'; } /* '' */
.icon-lamp:before { content: '\e817'; } /* '' */
.icon-monitor:before { content: '\e813'; } /* '' */
.icon-briefcase:before { content: '\e811'; } /* '' */
.icon-doc:before { content: '\e822'; } /* '' */
.icon-phone:before { content: '\e80f'; } /* '' */
.icon-megaphone:before { content: '\e819'; } /* '' */
.icon-mobile:before { content: '\e815'; } /* '' */
.icon-camera:before { content: '\e816'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-clock:before { content: '\e82f'; } /* '' */
.icon-clock-2:before { content: '\e831'; } /* '' */
.icon-clock-1:before { content: '\e830'; } /* '' */